<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" href="/img/partysunnyrain.png">
  <link rel="stylesheet" href='/css/style.css' />

</head>


<body>
  {{>header}}
  <main class='main-content'>
    <img class='portrait' src="/img/cartoon1.jpg" class='center'>
    <p style="text-align: center; font-size: 20px;">An old dog learning new tricks, haha! </p>
  </main>
  {{>footer}}
</body>

</html>